
<div class="container">
  <li class="be-white"><h1>Listing properties</h1></li>


  <table class="table be-white"">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      
      <% @properties.each do |property| %>
        <tr>
          <td ><%= property.title %></td>
          <br>
          <br>
          <td><%= property.description %></td>

          

          <div class=".btn-group">
          <td><button type="button" class="btn btn-default"><%= link_to 'Show', property %> </button></td>
          <br>
          <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_property_path(property) %> </button></td>
          <br>
          <td><button type="button" class="btn btn-default"><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>


  <button type="button" class="btn btn-default"><%= link_to 'New Property', new_property_path %>
  </button>

</div>







