<div class="container">
<p id="notice"><%= notice %></p>

<p class="be-white">
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p class="be-white">
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p class="be-white">
<%-if @property.image?%>
  <strong>Foto(s) del Inmueble:</strong>
  <br>
  <%= image_tag @property.image.url(:medium) %>
  <br>
  <strong>Foto(s) del Inmueble:</strong>
  <br>
  <%= image_tag @property.image.url(:thumb) %>
 <%end%>   
</p>  


<button type="button" class="btn btn-default"><%= link_to 'Back', properties_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_property_path(@property) %> </button>

</div>
